/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* CORPO */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #0a0a0a;
  color: #e8e8e8;
}

/* LINKS */
a {
  color: white;
  text-decoration: none;
}

.a-ativo {
  color: orange;
}

/* MENU */
header {
  background-color: #111;
  padding: 30px;
  margin-left: 30px;
  position: sticky;
  top: 0px;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-right: 34.5vw;
}

.div-son {
  display: inline-block;
  display: flex;
  list-style: none;
}

.div-son a {
  margin-left: 20px;
}

.ativo {
    color: #aaa1a2;
    opacity: 60%;
}

nav a:hover {
  color: orange;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #111;
}

.hero h1 {
  font-size: 40px;
  color: orange;
}

.hero p {
  margin-top: 10px;
  color: #aaa;
}

/* SEÇÕES */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

section h2 {
  margin-bottom: 20px;
  color: orange;
}

/* IMAGENS */
img {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

/* EQUIPE */
.filtros {
  color: #aaa1a2;
  opacity: 85%;
  padding-right: 10px;
  padding-left: 15px;
}

.personal {
  color: #aaa1a2;
  opacity: 85%;
}

section div {
  margin-bottom: 20px;
  text-align: center;
}

.link {
  color: #aaa1a2;
  opacity: 60%;
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px;
    margin-left: -35px;
  }

  .nav-inner {
    margin-right: 0;
  }
  
}
